.first{width: 97%;margin: auto;background-color:rgb(238, 238, 238);}
input{ width: 80%; margin-bottom: 30px; margin-top: 7px; border-color:#f7f7f7 ; border-radius:10px ; -webkit-border-radius:10px ; -moz-border-radius:10px ; -ms-border-radius:10px ; -o-border-radius:10px ; padding: 5px;}
.alert-danger{width: 80%;margin: auto;height: 30%;border-color: #842029;color:rgb(109,0,0);font-weight: bolder;display: none;}
.myclass{ background-color: rgb(17, 103, 196); color: white; padding-left: 15px;padding-right: 15px; border-color: transparent; border-radius:5px ; -webkit-border-radius:5px ; -moz-border-radius:5px ; -ms-border-radius:5px ; -o-border-radius:5px ; }
.myclass:hover{background-color: rgb(10, 63, 119);border-color: rgb(10, 63, 119);box-shadow: 2px 1px 15px black;color: white;}
.myclass1{background-color:  rgb(145, 0, 4);border-color:  rgb(145, 0, 4);}
.myclass1:hover{background-color:  rgb(81, 13, 14);border-color:  rgb(81, 13, 14);}
.myclass2{background-image: linear-gradient(#eee,#fff);}
.form-control{width: 97%; margin: auto;margin-top: 30px;}
.alert2{display: block;}